<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">



</head>
<body>

<div class="header">
  <h2><a href="/" style="text-decoration:none; color:hsl(0, 76%, 8%)" >MKBlogs</a></h2>
  
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <h1>{{posts.title}}</h1>
        <h5>{{posts.created_at}}</h5>
        <p>{{posts.content}}</p>
    </div>
  </div>
</div>

</body>
</html>